:root {
  /* website color pallete */
  --header-bg-clr: #e7ecef;
  --sidebar-bg-clr: #274c77;
  --main-bg-clr: #f8f8f8;
  --nav-btn-clr: #001d3d;
  --cards-btn-clr: ;
  --clr-primary: ;
  --clr-secondary: #fff;
  /* website color pallete */

  /* layout sizing */
  --x-side-bar: 270px;
  --x-header: 1fr;
  --y-header: min-content;
  --main: 1fr;
  /* layout sizing */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 1rem;
}

body {
  display: grid;
  grid-template-columns: var(--x-side-bar) var(--x-header);
  grid-template-rows: var(--y-header) var(--main);
  min-height: 100vh;
}

header,
.side-bar,
main {
  width: 100%;
  height: 100%;
}

/* HEADER SECTION START*/

header {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  gap: 25px;
  padding: 2em;
  background-color: var(--header-bg-clr);
}

.header-row-one {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.upper-left-header {
  min-width: 400px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.search-icon {
  margin-top: 3px;
  height: 20px;
}

#search {
  border: none;
  border-radius: 20px;
  max-width: 650px;
  flex: 1;
  height: 40px;
  padding: 0.35em 0.55em;
}

#search:focus {
  outline: 1px solid gray;
}

.header-row-two {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.lower-left-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.img-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.user-container p {
  font-size: 1.1rem;
  font-weight: 600;
}

.user-container h1 {
  font-size: 1.5rem;
}

.upper-right-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  max-width: 250px;
  flex: 1;
}

.upper-right-header div {
  flex-shrink: 2;
}

.upper-right-header div:first-of-type,
.upper-right-header div:nth-child(2) {
  flex-grow: 0;
}

.upper-right-header div:last-of-type {
  font-family: 1.05rem;
  font-weight: bold;
  line-height: 1.4;
  flex: 1;
}

.bell {
  width: 20px;
}

.user {
  display: flex;
  gap: 40px;
  align-items: center;
}

.upper-right-header img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  height: 35px;
}

.lower-right-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  padding-block: 0.65em;
  padding-inline: calc(0.55em + 1.6vw);
  border: none;
  border-radius: 30px;
  background-color: var(--nav-btn-clr);
  color: var(--clr-secondary);
}

button:hover {
  cursor: pointer;
  background-color: #001d3dc7;
}

/* HEADER SECTION END*/

/* SIDEBAR SECTION START */

.side-bar {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  background-color: var(--sidebar-bg-clr);
  grid-row: 1 / 4;
  color: white;
}

.logo {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 30px;
}

.logo p {
  font-weight: 500;
  font-size: 1.35rem;
  color: white;
}

.nav-side-one img,
.nav-side-two img {
  width: 20px;
}

.nav-side-one,
.nav-side-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 1em;
}

li {
  display: flex;
  align-items: center;
  gap: 15px;

  list-style: none;
  padding: 1em 2em;
  border-radius: 8px;
}

li p {
  font-size: 0.9rem;
}

li:hover {
  cursor: pointer;
  background-color: #386ba5b2;
}

/* SIDEBAR SECTION END */

/* MAIN SECTION START */

main {
  display: flex;
  background-color: var(--main-bg-clr);
  gap: 30px;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  padding-top: 3em;
  padding-inline: 2em;
  padding-bottom: 3em;
}

.main-left-container {
  flex-basis: 100%;
}

.main-left-container h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.55em;
}

.main-left-container p {
  font-size: 0.95rem;
}

.cards-container {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;

  border-radius: 8px;
  background-color: var(--header-bg-clr);
  box-shadow: 5px 5px 10px rgb(207, 207, 207);
  border-left: 8px solid #001d3d;
  padding-block: 1em;
  padding-inline: 1em;
  line-height: 1.4rem;
}

.cards h1 {
  align-self: flex-start;
  font-size: 1.2rem;
}

.cards-icons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.cards-icons-container div {
  display: flex;
  align-items: center;
}

.cards-icons-container div img {
  cursor: pointer;
}

.star,
.share {
  height: 20px;
}

.eye {
  height: 26px;
}

.main-right-container {
  flex-shrink: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-right-container h1 {
  font-size: 1.5rem;
  margin-bottom: 0.55em;
}

.announcements-container {
  background-color: var(--header-bg-clr);
  box-shadow: 5px 5px 10px rgb(207, 207, 207);
  padding: 1em 2em;
  border-radius: 8px;
  line-height: 1.4;
}

.announcements-container div {
  padding-block: 1em;
}

.announcements-container h2 {
  font-weight: 600;
}

.announcements-container p {
  font-size: 0.9rem;
}

.announcements-container div:nth-child(2) {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.trending-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--header-bg-clr);
  box-shadow: 5px 5px 10px rgb(207, 207, 207);
  padding: 1em 2em;
  border-radius: 8px;
}

.trending-container > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.trending-container > div > div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.trending-container img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  height: 35px;
}

.trending-container span {
  font-size: 0.9rem;
}

.trending-container span:first-of-type {
  font-weight: 500;
}
/* MAIN SECTION END */

@media screen and (max-width: 1080px) {
  :root {
    --x-side-bar: 70px;
  }
  .logo p {
    display: none;
  }

  .nav-side-one,
  .nav-side-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  li {
    padding: 0.55em 0.85em;
  }

  li p {
    display: none;
  }
}
