:root {
  /* website color pallete */
  --header-bg-clr: #e7ecef;
  --sidebar-bg-clr: #274c77;
  --main-bg-clr: #f8f8f8;
  --nav-btn-clr: #001d3d;
  --cards-btn-clr: ;
  --clr-primary: ;
  --clr-secondary: #fff;
  /* website color pallete */

  /* layout sizing */
  --x-side-bar: 270px;
  --x-header: 1fr;
  --y-header: min-content;
  --main: 1fr;
  /* layout sizing */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 1rem;
}

body {
  display: grid;
  grid-template-columns: var(--x-side-bar) var(--x-header);
  grid-template-rows: var(--y-header) var(--main);
  min-height: 100vh;
}

header,
.side-bar,
main {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
}

header {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  gap: 25px;
  padding: 2em;
  background-color: var(--header-bg-clr);
}

.header-row-one {
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.upper-left-header {
  min-width: 400px;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  gap: 5px;
  flex: 1;
}

.search-icon {
  margin-top: 3px;
  height: 20px;
}

#search {
  border: 1px solid grey;
  /* box-shadow: inset 0px 0px 10px rgb(224, 224, 224); */
  border-radius: 15px;
  max-width: 550px;
  flex: 1;
  height: 40px;
  padding: 0.35em 0.55em;
}

#search:focus {
  outline: none;
}

.header-row-two {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  gap: 20px;
}

.lower-left-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* .img-container {
  border: 1px solid black;
} */

.img-container img {
  width: 70px;
  border-radius: 50%;
}

.user-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  /* border: 1px solid black; */
}

.user-container p {
  font-size: 1.1rem;
  font-weight: 600;
}

.user-container h1 {
  font-size: 1.5rem;
}

.upper-right-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  /* border: 1px solid black; */
  max-width: 250px;
  flex: 1;
}

.upper-right-header div {
  /* border: 1px solid black; */
  flex-shrink: 2;
}

.upper-right-header div:first-of-type,
.upper-right-header div:nth-child(2) {
  flex-grow: 0;
}

.upper-right-header div:last-of-type {
  font-family: 1.05rem;
  font-weight: bold;
  line-height: 1.4;
  flex: 1;
}

.bell {
  width: 20px;
}

.user {
  display: flex;
  gap: 40px;
  align-items: center;
}

.upper-right-header img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  height: 35px;
}

.lower-right-header {
  /* border: 1px solid black; */
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  padding-block: 0.65em;
  padding-inline: calc(0.55em + 1.6vw);
  border: none;
  border-radius: 30px;
  background-color: var(--nav-btn-clr);
  color: var(--clr-secondary);
}

button:hover {
  cursor: pointer;
}

.side-bar {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  background-color: var(--sidebar-bg-clr);
  grid-row: 1 / 4;
  color: white;
}

.nav-side-one img,
.nav-side-two img {
  width: 25px;
}

.nav-side-one,
.nav-side-two {
  display: flex;
  font-weight: 500;
  flex-direction: column;
  gap: 20px;
}

.nav-side-one div,
.nav-side-two div {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.side-bar div:nth-child(2) p {
  font-size: 0.85rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 30px;
}

.logo p {
  font-weight: 500;
  font-size: 1.35rem;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-clr);
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  padding-inline: 2em;
}

.main-left-container {
  border: 1px solid black;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cards {
  height: 200px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgb(207, 207, 207);
}

.main-right-container {
  border: 1px solid black;
}
