:root {
  /* website color pallete */
  --header-bg-clr: #e7ecef;
  --sidebar-bg-clr: #274c77;
  --main-bg-clr: #f8f8f8;
  --nav-btn-clr: ;
  --cards-btn-clr: ;
  --clr-primary: ;
  --clr-secondary: ;
  /* website color pallete */

  /* layout sizing */
  --x-side-bar: 270px;
  --x-header: 1fr;
  --y-header: 20%;
  --main: 1fr;
  /* layout sizing */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 1rem;
}

body {
  display: grid;
  grid-template-columns: var(--x-side-bar) var(--x-header);
  grid-template-rows: var(--y-header) var(--main);

  min-height: 100vh;
}

header,
.side-bar,
main {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
}

header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-column: 2 / 3;
  padding-inline: 2em;
  background-color: var(--header-bg-clr);
}

.header-row-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.upper-left-header {
  min-width: 400px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  gap: 5px;
  flex: 1;
}

.search-icon {
  margin-top: 3px;
  height: 20px;
}

#search {
  border: 1px solid grey;
  /* box-shadow: inset 0px 0px 10px rgb(224, 224, 224); */
  border-radius: 15px;
  max-width: 550px;
  flex: 1;
  height: 40px;
  padding: 0.35em 0.55em;
}

#search:focus {
  outline: none;
}

.upper-right-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  border: 1px solid black;
  max-width: 250px;
  flex: 1;
}

.upper-right-header div {
  border: 1px solid black;
  flex-shrink: 2;
}

.upper-right-header div:first-of-type,
.upper-right-header div:nth-child(2) {
  flex-grow: 0;
}

.upper-right-header div:last-of-type {
  font-family: 1.05;
  font-weight: bold;
  line-height: 1.4;
  flex: 1;
}

.bell {
  width: 20px;
}

.user {
  display: flex;
  gap: 40px;
  align-items: center;
}

.upper-right-header img {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  height: 35px;
}

.side-bar {
  background-color: var(--sidebar-bg-clr);
  grid-row: 1 / 4;
}

main {
  background-color: var(--main-bg-clr);
  grid-column: 2 / 3;
}
